body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
#one {
  padding: 50px;
  background: #fff;
  width: 150px;
}
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
h1 {
  text-shadow: 2px 2px;
}
div {
  width: 300px;
  height: 100px;
  padding: 15px;
  background-color: yellow;
  box-shadow: 10px 10px;
}
